<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>게시물 수정</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h1>게시물 수정</h1>

    <form method="post" th:action="@{/posts/edit/{id}(id=${postForm.id})}">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" class="form-control" th:value="${postForm.title}" required />
        </div>

        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" class="form-control" th:text="${postForm.content}" required></textarea>
        </div>
        <a href="/home" class="btn btn-primary">홈으로 돌아가기</a>

        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div> <!-- /container -->
</body>
</html>
