<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1>댓글 삭제 확인</h1>

    <p>정말로 이 댓글을 삭제하시겠습니까?</p>

    <form method="post" th:action="@{'/comments/delete/' + ${comment.id}">
        <button class="btn btn-danger" type="submit">예, 삭제</button>
        <a class="btn btn-primary" th:href="@{'/comments'}">아니요, 취소</a>
    </form>

    <!-- Add a button or link for returning home -->
    <a class="btn btn-primary" th:href="@{/home}" role="button">홈으로 이동</a>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
